body {
  font-family: Ubuntu, Helvetica, sans-serif;
  color: #333;
  font-size: 14px;
  line-height: 20px;
}

h1 {
  margin-top: 10px;
  margin-bottom: 20px;
  font-size: 56px;
  line-height: 56px;
  font-weight: 700;
}

h2 {
  margin-top: 0px;
  margin-bottom: 10px;
  font-size: 32px;
  line-height: 36px;
  font-weight: 500;
}

h3 {
  margin: 5px 0px 10px;
  font-size: 18px;
  line-height: 30px;
  font-weight: 500;
}

h4 {
  margin: 0px 0px 5px;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
}

h5 {
  margin: 10px 0px;
  font-size: 14px;
  line-height: 20px;
  font-weight: 700;
}

h6 {
  margin: 10px 0px;
  font-size: 12px;
  line-height: 18px;
  font-weight: 700;
}

p {
  margin-top: 0px;
  margin-bottom: 5px;
  padding-left: 60px;
  font-family: 'Varela Round', sans-serif;
  color: #848998;
  line-height: 19px;
}

.button {
  display: inline-block;
  padding: 4px 15px;
  background-color: #000;
  color: #fff;
  text-align: center;
  text-decoration: none;
}

.header {
  padding-top: 100px;
  padding-bottom: 160px;
  background-color: transparent;
  background-image: url('../images/01-web-cover-photo.jpg');
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: repeat;
  opacity: 1;
  color: #fff;
  text-shadow: 1px 1px 6px rgba(0, 0, 0, 0.37), 0 1px 0 rgba(0, 0, 0, 0.49);
}

.bars-wrapper {
  background-color: #3e352a;
}

.bar {
  width: 14.285%;
  height: 15px;
  float: left;
  background-color: #e11829;
  opacity: 0.68;
  color: #333;
}

.bar._2 {
  background-color: #9aad48;
}

.bar._3 {
  background-color: #f3ed65;
}

.bar._4 {
  background-color: #e11829;
}

.bar._5 {
  background-color: #9aad48;
}

.bar._6 {
  background-color: #f3ed65;
}

.bar._7 {
  background-color: #e11829;
}

.logo-wrapper {
  margin-bottom: 147px;
}

.logo-icon {
  margin-top: -5px;
  margin-right: 9px;
  float: left;
}

.logo-text {
  margin-top: 0px;
  margin-bottom: 0px;
  float: left;
  font-size: 32px;
  line-height: 31px;
  font-weight: 500;
}

.main-subtitle {
  width: 44%;
  margin-bottom: 46px;
  padding-top: 0px;
  padding-left: 0px;
  font-family: Montserrat, sans-serif;
  color: hsla(0, 0%, 100%, 0.79);
  font-size: 20px;
  line-height: 21px;
}

.app-button {
  margin-right: 14px;
  padding: 8px 13px;
  border-radius: 6px;
  background-color: #000;
  -webkit-transition: background-color 300ms ease;
  transition: background-color 300ms ease;
}

.app-button:hover {
  background-color: #84a6ba;
}

.app-button.buy {
  margin-right: 0px;
  margin-left: 19px;
  background-color: #5d6779;
}

.app-button.buy:hover {
  background-color: #000;
}

.section {
  overflow: visible;
  padding-top: 110px;
  padding-bottom: 110px;
  -o-object-fit: fill;
  object-fit: fill;
}

.section.grey {
  background-color: #f0f3f5;
}

.section.grey.buy {
  padding-top: 62px;
  padding-bottom: 62px;
  background-color: #fff;
  opacity: 1;
}

.section.map {
  position: relative;
  padding-top: 184px;
  padding-bottom: 184px;
  background-image: url('../images/map.png');
  background-position: 50% 50%;
  background-size: cover;
}

.section.footer {
  padding-top: 57px;
  padding-bottom: 57px;
  background-color: #262b2f;
  opacity: 1;
  color: #b5bbc8;
}

.section.sign-up {
  padding: 20px 40px 46px;
  background-color: #5d6779;
  opacity: 1;
}

.center-title {
  text-align: center;
}

.subtitle {
  margin-bottom: 72px;
  padding-left: 10px;
  font-family: Montserrat, sans-serif;
  font-size: 20px;
  line-height: 26px;
  text-align: left;
  letter-spacing: normal;
  text-indent: 0px;
  white-space: normal;
}

.subtitle.location {
  width: 30%;
  margin-bottom: 0px;
  color: hsla(0, 0%, 100%, 0.47);
}

.center {
  text-align: center;
}

.line {
  width: 50px;
  height: 2px;
  margin-top: 42px;
  margin-bottom: 42px;
  background-color: #e1e4e8;
}

.feature-group.push-down {
  margin-bottom: 43px;
}

.push-down-column {
  padding-top: 105px;
}

.image-crop {
  display: inline;
  overflow: hidden;
  height: 560px;
  margin-bottom: -110px;
}

.buy-title {
  margin-top: 6px;
  font-family: Montserrat, sans-serif;
  color: #5d6779;
  font-size: 33px;
  font-weight: 300;
  text-align: right;
}

.align-right {
  text-align: right;
}

.trans-test {
  display: block;
  margin: 7px;
  -webkit-transition: margin 500ms ease;
  transition: margin 500ms ease;
}

.trans-test:hover {
  margin: 16px;
  -webkit-transform: translate(0px, -5px);
  -ms-transform: translate(0px, -5px);
  transform: translate(0px, -5px);
}

.location-title {
  color: #fff;
}

.map-icon {
  position: absolute;
  left: 43%;
  bottom: 39%;
}

.footer-left-col {
  padding-top: 8px;
}

.footer-right-col {
  text-align: right;
}

.footer-logo {
  margin-top: -3px;
  margin-right: 11px;
  float: left;
}

.footer-text {
  font-family: Montserrat, sans-serif;
  color: #fff;
  font-size: 22px;
  font-weight: 200;
}

.footer-link {
  width: 40px;
  height: 40px;
  margin-right: 6px;
  margin-left: 6px;
  padding-top: 9px;
  border-radius: 100%;
  background-color: #5d6779;
  -webkit-transition: background-color 300ms ease;
  transition: background-color 300ms ease;
  text-align: center;
}

.footer-link:hover {
  background-color: #6c5c4f;
}

.field {
  width: 60%;
  height: 68px;
  margin-right: 2%;
  margin-bottom: 0px;
  padding: 12px 0px;
  float: left;
  border: 0px solid transparent;
  border-radius: 0px;
  background-color: transparent;
  box-shadow: inset 0 -4px 0 0 #262b2f;
  -webkit-transition: box-shadow 300ms ease;
  transition: box-shadow 300ms ease;
  font-family: Montserrat, sans-serif;
  font-size: 26px;
  white-space: normal;
}

.field:focus {
  box-shadow: inset 0 -4px 0 0 #d3d9de;
}

.form-button {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 28%;
  padding: 24px 32px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 5px;
  background-color: #e11829;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(11, 10, 10, 0.5)), to(rgba(11, 10, 10, 0.5)));
  background-image: linear-gradient(180deg, rgba(11, 10, 10, 0.5), rgba(11, 10, 10, 0.5));
  -webkit-transition: background-color 300ms ease;
  transition: background-color 300ms ease;
  font-family: Montserrat, sans-serif;
  color: #ebc908;
  font-size: 24px;
}

.form-button:hover {
  background-color: #d3d9de;
}

.form-wrapper {
  display: none;
  margin-bottom: 0px;
}

.success {
  padding-top: 19px;
  padding-bottom: 19px;
  border-radius: 5px;
  background-color: #d3d9de;
  text-align: center;
}

.navbar {
  position: fixed;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: auto;
  display: block;
  overflow: visible;
  padding-right: 0px;
  background-color: #fff;
}

.text-block {
  font-family: Montserrat, sans-serif;
  color: hsla(0, 0%, 100%, 0.79);
  font-size: 17px;
  line-height: 21px;
}

.utility-page-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100vw;
  height: 100vh;
  max-height: 100%;
  max-width: 100%;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.utility-page-content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 260px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  text-align: center;
}

.utility-page-form {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
}

.section-2 {
  margin-top: 0px;
  padding-right: 60px;
  padding-left: 60px;
}

.heading {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 60px;
  font-family: Montserrat, sans-serif;
}

.bold-text {
  font-size: 18px;
  font-weight: 600;
  text-transform: uppercase;
}

.bold-text-2 {
  font-size: 18px;
  font-weight: 600;
  text-transform: uppercase;
}

.bold-text-3 {
  font-size: 18px;
  font-weight: 600;
  text-transform: uppercase;
}

.paragraph {
  position: relative;
  left: 10px;
  right: 10px;
  z-index: auto;
  width: auto;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  float: none;
  clear: none;
  font-family: Montserrat, sans-serif;
  color: #fff;
  font-size: 24px;
  line-height: 32px;
  font-style: normal;
  letter-spacing: 1px;
  text-indent: 1px;
  white-space: normal;
}

.container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -o-object-fit: fill;
  object-fit: fill;
}

.mask {
  width: 40%;
}

.slide-nav {
  width: 40px;
}

.slider {
  display: inline-block;
  overflow: visible;
  width: 100%;
  height: 100%;
  -o-object-fit: fill;
  object-fit: fill;
}

.image-2 {
  display: inline-block;
  overflow: visible;
  width: auto;
  height: 100%;
  max-height: none;
  max-width: none;
}

.slide {
  position: relative;
  overflow: visible;
  width: auto;
  height: 100%;
  max-width: none;
  margin-top: 0px;
  padding-right: 0px;
  -o-object-fit: fill;
  object-fit: fill;
  -o-object-position: 50% 50%;
  object-position: 50% 50%;
}

.slide-2 {
  height: 100%;
  padding-right: 100%;
}

.image-3 {
  height: 100%;
}

.navbar-2 {
  position: fixed;
  width: 100%;
  background-color: #fff;
}

.paragraph-2 {
  padding-right: 40px;
}

.paragraph-3 {
  padding-left: 0px;
  font-family: Montserrat, sans-serif;
}

.paragraph-4 {
  padding-left: 0px;
  font-family: Montserrat, sans-serif;
}

.paragraph-5 {
  padding-left: 0px;
  font-family: Montserrat, sans-serif;
}

.paragraph-6 {
  padding-left: 0px;
  font-family: Montserrat, sans-serif;
}

.paragraph-7 {
  padding-left: 0px;
  font-family: Montserrat, sans-serif;
}

.paragraph-8 {
  padding-left: 0px;
  font-family: Montserrat, sans-serif;
}

.form {
  color: #e11829;
}

.heading-2 {
  padding-bottom: 10px;
  font-family: Montserrat, sans-serif;
  font-weight: 500;
  text-transform: uppercase;
}

.nav-link {
  font-family: Montserrat, sans-serif;
  font-size: 18px;
  font-style: normal;
  text-align: center;
  text-transform: uppercase;
}

.nav-link.w--current {
  font-family: Montserrat, sans-serif;
  font-style: normal;
  letter-spacing: normal;
  text-transform: uppercase;
}

.text-block-2 {
  font-family: Montserrat, sans-serif;
  font-size: 18px;
  text-transform: uppercase;
}

.text-block-3 {
  font-family: Montserrat, sans-serif;
  font-size: 18px;
  text-transform: uppercase;
}

.image-4 {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 80px;
}

.dropdown-link {
  background-color: #fff;
  -webkit-transform: translate(0px, 0px);
  -ms-transform: translate(0px, 0px);
  transform: translate(0px, 0px);
  font-family: Montserrat, sans-serif;
  font-size: 16px;
}

.heading-3 {
  font-family: Montserrat, sans-serif;
}

.heading-4 {
  font-family: Montserrat, sans-serif;
}

.heading-5 {
  font-family: Montserrat, sans-serif;
}

.heading-6 {
  font-family: Montserrat, sans-serif;
}

.heading-7 {
  font-family: Montserrat, sans-serif;
}

.heading-8 {
  font-family: Montserrat, sans-serif;
}

.heading-9 {
  font-family: Montserrat, sans-serif;
}

.heading-10 {
  font-family: Montserrat, sans-serif;
}

.heading-11 {
  font-family: Montserrat, sans-serif;
}

.list-item {
  font-family: Montserrat, sans-serif;
  text-align: left;
}

.list-item-2 {
  font-family: Montserrat, sans-serif;
  text-align: left;
}

.list-item-3 {
  font-family: Montserrat, sans-serif;
  text-align: left;
}

.heading-12 {
  font-family: Montserrat, sans-serif;
}

.list-item-4 {
  font-family: Montserrat, sans-serif;
}

.list-item-5 {
  font-family: Montserrat, sans-serif;
}

.list-item-6 {
  font-family: Montserrat, sans-serif;
}

.heading-13 {
  font-family: Montserrat, sans-serif;
}

.heading-14 {
  font-family: Montserrat, sans-serif;
}

.paragraph-9 {
  font-family: Montserrat, sans-serif;
}

.heading-15 {
  font-family: Montserrat, sans-serif;
}

.paragraph-10 {
  font-family: Montserrat, sans-serif;
}

.heading-16 {
  font-family: Montserrat, sans-serif;
  text-align: left;
}

.heading-17 {
  font-family: Montserrat, sans-serif;
  text-align: left;
}

.paragraph-11 {
  font-family: Montserrat, sans-serif;
}

.heading-18 {
  font-family: Montserrat, sans-serif;
}

.paragraph-12 {
  font-family: Montserrat, sans-serif;
}

.paragraph-13 {
  font-family: Montserrat, sans-serif;
  text-transform: none;
}

.container-2 {
  overflow: visible;
  padding-top: 40px;
}

.body {
  background-color: #f0f3f5;
}

.section-3 {
  display: block;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #f0f3f5;
}

.slider-2 {
  display: block;
}

.mask-2 {
  overflow: hidden;
  width: 100%;
  min-height: auto;
  min-width: auto;
}

.div-block {
  display: block;
}

.slide-9 {
  background-image: url('../images/Mockup-LokavorMicrosite-1.png');
  background-position: 0px 0px;
  background-size: cover;
}

.slider-box {
  width: auto;
  height: 950px;
}

.slide-10 {
  background-image: url('../images/Mockup-LokavorMicrosite-2.png');
  background-position: 0px 0px;
  background-size: cover;
}

.slide-11 {
  background-image: url('../images/Mockup-LokavorMicrosite-3.png');
  background-position: 0px 0px;
  background-size: cover;
}

.slide-12 {
  background-image: url('../images/Mockup-LokavorMicrosite-4.png');
  background-position: 0px 0px;
  background-size: cover;
}

.slider-lokavor {
  width: auto;
  height: 950px;
}

.slider-microsite {
  width: auto;
  height: 950px;
}

.slide-1 {
  background-image: url('../images/Mockup-LokavorMicrosite-1.png');
  background-position: 0px 0px;
  background-size: cover;
}

.slide-2a {
  background-image: url('../images/Mockup-LokavorMicrosite-2.png');
  background-position: 0px 0px;
  background-size: cover;
}

.slide-3a {
  background-image: url('../images/Mockup-LokavorMicrosite-3.png');
  background-position: 0px 0px;
  background-size: cover;
}

.slide-4 {
  background-image: url('../images/Mockup-LokavorMicrosite-4.png');
  background-position: 0px 0px;
  background-size: cover;
}

.slide-13 {
  overflow: visible;
  background-color: transparent;
  background-image: url('../images/Mockup-Lokavor-1m.png');
  background-position: 0px 0px;
  background-size: cover;
}

.slide-14 {
  background-image: url('../images/Mockup-Lokavor-2.png');
  background-position: 0px 0px;
  background-size: cover;
}

.slide-15 {
  background-image: url('../images/Mockup-Lokavor-3.png');
  background-position: 0px 0px;
  background-size: cover;
}

.slide-16 {
  background-image: url('../images/Mockup-Lokavor-4.png');
  background-position: 0px 0px;
  background-size: cover;
}

.slide-17 {
  background-image: url('../images/Mockup-LokavorMicrosite-1.png');
  background-position: 0px 0px;
  background-size: cover;
}

.slide-18 {
  background-image: url('../images/Mockup-LokavorMicrosite-2.png');
  background-position: 0px 0px;
  background-size: cover;
}

.slide-19 {
  background-image: url('../images/Mockup-LokavorMicrosite-3.png');
  background-position: 0px 0px;
  background-size: cover;
}

.slide-20 {
  background-image: url('../images/Mockup-LokavorMicrosite-4.png');
  background-position: 0px 0px;
  background-size: cover;
}

.slide-21 {
  background-image: url('../images/Mockup-LokavorBox-1.png');
  background-position: 0px 0px;
  background-size: cover;
}

.slide-22 {
  background-image: url('../images/Mockup-LokavorBox-2.png');
  background-position: 0px 0px;
  background-size: cover;
}

.slide-23 {
  background-image: url('../images/Mockup-LokavorBox-3.png');
  background-position: 0px 0px;
  background-size: cover;
}

.slide-24 {
  background-image: url('../images/Mockup-LokavorBox-4.png');
  background-position: 0px 0px;
  background-size: cover;
}

.slide-25 {
  background-image: url('../images/Mockup-LokavorShop.png');
  background-position: 0px 0px;
  background-size: cover;
}

.image-5 {
  position: relative;
  display: block;
  text-align: left;
}

.image-6 {
  display: block;
}

@media screen and (max-width: 991px) {
  .header {
    background-position: 50% 50%;
  }
  .app-button.buy {
    margin-left: 10px;
    padding: 5px 9px;
  }
  .subtitle {
    margin-bottom: 52px;
  }
  .push-down-column {
    padding-top: 0px;
  }
  .image-crop {
    height: 605px;
  }
  .buy-title {
    font-size: 26px;
    line-height: 26px;
  }
}

@media screen and (max-width: 767px) {
  .header {
    padding: 39px 10px 405px;
    background-position: 50% 50%;
  }
  .logo-wrapper {
    margin-bottom: 37px;
  }
  .main-subtitle {
    width: 84%;
    margin-bottom: 41px;
  }
  .app-button {
    margin-bottom: 14px;
  }
  .app-button.buy {
    margin-right: 13px;
    margin-left: 13px;
  }
  .section {
    padding-top: 42px;
    padding-bottom: 42px;
    text-align: center;
  }
  .section.grey.buy {
    padding-top: 42px;
    padding-bottom: 42px;
  }
  .section.map {
    padding-top: 52px;
    padding-bottom: 52px;
  }
  .section.footer {
    padding-top: 28px;
    padding-bottom: 28px;
  }
  .section.sign-up {
    padding-right: 10px;
    padding-left: 10px;
  }
  .center-title {
    padding-right: 10px;
    padding-left: 10px;
  }
  .subtitle.location {
    width: auto;
    margin-right: 20%;
    margin-bottom: 27px;
    margin-left: 20%;
  }
  .line {
    display: block;
    margin: 32px auto;
  }
  .image-crop {
    height: auto;
    margin-bottom: 0px;
  }
  .buy-title {
    margin-bottom: 31px;
  }
  .align-right {
    text-align: center;
  }
  .map-icon {
    position: static;
  }
  .footer-right-col {
    text-align: center;
  }
  .footer-logo {
    margin-top: -1px;
    margin-right: 0px;
    margin-bottom: 8px;
    float: none;
  }
  .footer-text {
    margin-bottom: 22px;
  }
  .image {
    width: 269px;
  }
  .field {
    width: 50%;
    font-size: 22px;
  }
  .form-button {
    width: 48%;
  }
}

@media screen and (max-width: 479px) {
  .header {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    height: 100vh;
    min-height: 100vh;
    padding-top: 0px;
    padding-bottom: 0px;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    background-position: 50% 50%;
  }
  .section.sign-up {
    padding-top: 39px;
    padding-bottom: 39px;
  }
  .center {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .image-crop {
    width: 80vw;
    min-width: 80vw;
  }
  .field {
    width: 100%;
    margin-right: 0%;
    margin-bottom: 15px;
    text-align: center;
  }
  .form-button {
    width: 100%;
  }
  .div-block {
    position: static;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 80vw;
    height: auto;
    max-height: none;
    min-height: auto;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    background-color: transparent;
  }
  .slider-box {
    width: 80vw;
    height: 190vw;
    min-width: 80vw;
    border: 1px solid transparent;
    background-color: transparent;
  }
  .slider-lokavor {
    display: block;
    height: 190vw;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    background-color: transparent;
  }
  .slider-microsite {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    height: 190vw;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    background-color: transparent;
  }
  .slide-13 {
    width: 80vw;
    max-width: 80vw;
    min-width: 80vw;
    padding-right: 0px;
    padding-bottom: 0px;
    background-position: 50% 50%;
    background-size: 80vw;
    background-repeat: no-repeat;
  }
  .slide-14 {
    width: 80vw;
    max-width: 80vw;
    min-width: 80vw;
    background-position: 50% 50%;
    background-size: 80vw;
    background-repeat: no-repeat;
  }
  .slide-15 {
    background-position: 50% 50%;
    background-size: 80vw;
    background-repeat: no-repeat;
  }
  .slide-16 {
    background-position: 50% 50%;
    background-size: 80vw;
    background-repeat: no-repeat;
  }
  .slide-17 {
    background-position: 50% 50%;
    background-size: 80vw;
    background-repeat: no-repeat;
  }
  .slide-18 {
    background-position: 50% 50%;
    background-size: 80vw;
    background-repeat: no-repeat;
  }
  .slide-19 {
    background-position: 50% 50%;
    background-size: 80vw;
    background-repeat: no-repeat;
  }
  .slide-20 {
    background-position: 50% 50%;
    background-size: 80vw;
    background-repeat: no-repeat;
  }
  .slide-21 {
    border: 1px solid transparent;
    background-color: transparent;
    background-position: 50% 50%;
    background-size: 80vw;
    background-repeat: no-repeat;
  }
  .slide-22 {
    background-position: 50% 50%;
    background-size: 80vw;
    background-repeat: no-repeat;
  }
  .slide-23 {
    background-position: 50% 50%;
    background-size: 80vw;
    background-repeat: no-repeat;
  }
  .slide-24 {
    background-position: 50% 50%;
    background-size: 80vw;
    background-repeat: no-repeat;
  }
  .slide-25 {
    background-position: 50% 50%;
    background-size: 80vw;
    background-repeat: no-repeat;
  }
  .mask-3 {
    width: 80vw;
    min-width: 80vw;
    margin-left: 0px;
  }
  .container-3 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: stretch;
    -webkit-align-items: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
  }
  .left-arrow {
    max-height: 20vh;
  }
  .right-arrow {
    max-height: 20vh;
  }
  .mask-4 {
    width: 80vw;
    min-width: 80vw;
  }
  .left-arrow-2 {
    max-height: 20vh;
  }
  .right-arrow-2 {
    max-height: 20vh;
  }
  .mask-5 {
    width: 80vw;
    min-width: 80vw;
  }
  .mask-6 {
    width: 80vw;
    min-width: 80vw;
  }
  .column {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
}

@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/Montserrat-Regular.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/Montserrat-Italic.otf') format('opentype');
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/Montserrat-Bold.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
}